# Default ignored files
/../../1 punto./.idea/shelf/
/../../1 punto./.idea/workspace.xml
# Ignored default folder with query files
/../../1 punto./.idea/queries/
# Datasource local storage ignored files
/../../1 punto./.idea/dataSources/
/../../1 punto./.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../1 punto./.idea/httpRequests/
